img {
    border-radius: 11px;
}

@media only screen and (max-width: 785px) {
    .desktop {
        display: none;
    }
}

.thumbnailPics {
    width: 450px;
    display: flex;
    gap: 33px;
    padding-top: 20px;

    img {
        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }
}

/* sneakerPreview.module.scss */

.thumbnailPics {
    display: flex;
    gap: 29px;
}

.thumbnailWrapper {
    border: none;
    height: 72.99px;
    width: 70px;
}

.thumbnailWrapper.active {
    border: 3.2px solid hsl(26, 100%, 55%);
    border-radius: 11px;
}

.thumbnailImage {
    // opacity: 1;
    cursor: pointer;
}

.thumbnailImage.active {
    opacity: 0.3;
}


.modal {
    position: fixed;
    z-index: 1;
    // padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselButton {
    right: 22px;
    width: 424px;
    top: 203px;
    position: relative;
    display: flex;
    justify-content: space-between;

    div {
        background-color: white;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;

        }

    }

    img {
        width: 12px;

        &:hover {
            cursor: pointer;
            filter: brightness(0) saturate(100%) invert(58%) sepia(92%) saturate(1999%) hue-rotate(336deg) brightness(103%) contrast(102%);

        }
    }
}

.closeButton {
    display: flex;
    flex-direction: row-reverse;
    width: 380px;
    position: absolute;

    img {
        width: 20px;

    }

    &:hover {
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(58%) sepia(92%) saturate(1999%) hue-rotate(336deg) brightness(103%) contrast(102%);

    }

}