.container {
    display: flex;
    flex-direction: column;
    width: 423px;
}

.buyButtons {
    display: flex;
    gap: 20px;
}

h5 {
    margin: 0;
    color: hsl(219, 9%, 45%);
}

h1 {
    color: hsl(220, 13%, 13%);
}

p {
    color: hsl(219, 9%, 45%);
    font-weight: 400;
}

.quantitySelector {
    display: flex;
    gap: 39px;

    width: 110px;


    align-items: center;
    background-color: hsl(223, 64%, 98%);
    padding: 13px 10px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: hsl(25, 100%, 94%);
    }

    img {
        padding-top: 5px;
    }
}

.percentageDisplay {
    color: white;
    background-color: black;
    text-align: center;
    width: 42px;
    height: 21px;
    padding: 2px;
    border-radius: 7px;
    margin-top: 23px;
    font-size: 13px;
}

.addToCartButton {
    display: flex;
    align-items: center;
    background-color: hsl(26, 100%, 55%);
    padding: 13px 80px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: hsl(25, 100%, 94%);
    }
}

.cartIcon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}