ul {
    list-style: none;

    li {
        display: inline;
        // padding-left: 20px;
        margin-left: 20px;
        color: hsl(219, 9%, 45%);
        font-weight: 400;
        padding-bottom: 33px;

        &:hover {
            color: hsl(220, 13%, 13%);
            cursor: pointer;
            border-bottom: 5px solid hsl(26, 100%, 55%);
        }
    }

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 110px 20px 110px;

}

@media only screen and (max-width: 600px) {
    nav {
        padding: 10px;
    }

    ul {
        display: none;
    }
}

hr {
    height: 1.9px;
    width: 86%;
    color: hsl(223, 64%, 98%);
    background: hsl(223, 64%, 98%);
    font-size: 0;
    border: 0;
}

.avatar {
    &:hover {
        border: 3px solid hsl(26, 100%, 55%);
        border-radius: 50%;
        cursor: pointer;

    }
}