.desktopNav {
    list-style: none;

    li {
        display: inline;
        // padding-left: 20px;
        margin-left: 20px;
        color: hsl(219, 9%, 45%);
        font-weight: 400;
        padding-bottom: 33px;

        &:hover {
            color: hsl(220, 13%, 13%);
            cursor: pointer;
            border-bottom: 4px solid hsl(26, 100%, 55%);
        }
    }

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 110px 20px 110px;

}

@media only screen and (max-width: 785px) {
    nav {
        padding: 10px;
    }

    .desktopNav {
        display: none;
    }
}

hr {
    height: 1.9px;

    color: hsl(223, 64%, 98%);
    background: hsl(223, 64%, 98%);
    font-size: 0;
    border: 0;
}

.avatar {
    &:hover {
        border: 3px solid hsl(26, 100%, 55%);
        border-radius: 50%;
        cursor: pointer;

    }
}


.menuIcon {
    display: none;
    font-size: 24px;
    cursor: pointer;

    @media only screen and (max-width: 785px) {
        display: block;
    }
}


.mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background-color: white;
    box-shadow: 33px 0 305px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px;
    transition: all .5s ease;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 15px 0;
            font-size: 18px;
            color: hsl(220, 13%, 13%);
            font-weight: 700;
            cursor: pointer;

            &:hover {
                color: hsl(26, 100%, 55%);
            }
        }
    }
}

.closeButton {
    padding: 15px;
    cursor: pointer;
}

.cartContainer {
    position: relative;
    display: inline-block;
    padding: 13px;
}

.cartIcon {
    filter: brightness(0) saturate(100%);

    &:hover {

        cursor: pointer;

    }
}

.count {
    background-color: hsl(26, 100%, 55%);
    color: white;
    font-size: 11px;
    width: 21px;
    text-align: center;
    border-radius: 8px;
    padding-bottom: 2px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.showCart {
    width: 292px;
    height: 180px;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1;
    right: 38px;
    top: 80px;
    background-color: white;
    border-radius: 8px;

    .checkoutInfo {
        display: inline-flex;
        padding: 12px;
        gap: 16px;
    }

    .checkoutButton {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: hsl(26, 100%, 55%);
        width: 284px;
        height: 51px;
        /* text-align: center; */
        /* padding: 20px; */
        padding: 13px -6px;
        border-radius: 8px;
        font-weight: 700;
        font-size: 13px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}

.emptyCart {
    color: hsl(219, 9%, 45%);
    height: 151px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}